<head>
  <title>NasDaily</title>
  <meta name="description" content="1 Minute Videos. Daily.">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">

  <%= render partial: 'home/analytics' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render partial: 'home/facebook_sdk' %>
  <%= tag('div', id: 'initial-videos-data', data: @videos) %>
</body>
