<head>
  <title>NasDaily</title>
  <meta name="description" content="1 Minute Videos. Daily.">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <meta property="og:type" content="website">
  <meta property="og:image" content=<%= asset_url('tshirt_og_image.jpg') %>>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <%# <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet"> %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

  <%# PREFETCH IMAGES %>
  <link rel="prefetch" href="/assets/tshirt_life.png">
  <link rel='prefetch' href='/assets/search_icon.svg'>
  <link rel="prefetch" href="http://res.cloudinary.com/nasdaily/image/upload/v1501383337/Nas_shirt_bg_v13rv6_1_w96wwj.png">
  <link rel="prefetch" href="http://res.cloudinary.com/nasdaily/image/upload/v1506028485/shop_bg_qjvemj.png">

  <%= render partial: 'home/analytics' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render partial: 'home/facebook_sdk' %>
  <%= tag('div', id: 'fb-app-id', data: ENV.fetch('FB_APP_ID'))%></div>
  <%= tag('div', id: 'initial-videos-data', data: @videos)%></div>
</body>
